body {
    counter-reset: sidenote-counter;
}
.sidenote:before {
    counter-increment: sidenote-counter;
    content: counter(sidenote-counter) " ";
    font-size: 0.8rem;
    position:relative;
    bottom:-2em;
    right:1em;
}

@media (max-width: 760px) {
    .sidenote,
    .marginnote {
        display: none;
    }
}
